@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@font-face {
  font-family: "Post";
  /* Имя шрифта */
  src: url("../fonts/Post-semi.ttf");
  /* Путь к файлу со шрифтом */
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  font-family: "Raleway";
  font-size: 14px;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  padding: 0px 0px;
}
.btn.fw {
  width: 100%;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 35px;
  z-index: 1000;
  /* .header__row */
  /* .header__logo */
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  /* .logo__title */
  /* .logo__subtitle */
}
.logo__title {
  font-family: "Post";
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 30px;
}
.logo__subtitle {
  font-size: 12px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.menu {
  /* .menu-row__item */
}
.menu__row {
  display: flex;
}
.menu__item {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-left: 40px;
}

main {
  background-color: #242B33;
}

.hero-block {
  width: 100%;
  height: 100vh;
  background-image: url("../image/photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 650px;
  padding-top: 11%;
  position: relative;
  z-index: 1;
  /* .hero-block__title */
  /* .hero-block__subtitle */
}
.hero-block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%);
}
.hero-block__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 100%;
}
.hero-block__title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 48px;
  color: #D4C17F;
  width: 560px;
  color: #D4C17F;
  margin-bottom: 100px;
  text-align: center;
}
.hero-block__contact {
  position: absolute;
  bottom: 75px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-hero-block {
  font-size: 18px;
}
.contact-hero-block__item {
  position: relative;
  margin: 0 50px;
  display: flex;
  align-items: center;
}
.contact-hero-block__item:before {
  content: url("../image/icons/location.svg");
  position: absolute;
  left: -35px;
}
.contact-hero-block__item-phone:before {
  content: url("../image/icons/phone.svg");
}

.benefits {
  padding: 120px 0px;
}

.items-benefits {
  display: flex;
  justify-content: center;
  text-align: center;
  /* .collumn-benefits__icon */
  /* .collumn-benefits__text */
}
.items-benefits__item {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  max-width: 195px;
}
.items-benefits__icon {
  flex: 1 1 auto;
}
.items-benefits__text {
  margin-top: 30px;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.our-flat {
  /* .our-flat__title */
  /* .our-flat__row */
  /* .our-flat__column */
}
.our-flat__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
  padding-bottom: 100px;
}
.our-flat__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.our-flat__column {
  flex: 0 0 50%;
  padding: 15px;
}

.item-flat {
  position: relative;
  /* .item-flat__img */
  /* .item-flat__text */
}
.item-flat__img img {
  object-fit: cover;
  width: 100%;
}
.item-flat__text {
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}